/*//////////////////////////////////////////////
//////////////// _template.scss ////////////////
//////////////////////////////////////////////*/

#template {
	
	.article {
	//	border: 20px solid ;
	//	border-color:rgb(170,121,0);
	//	border-radius: 15px;
		padding-left:20px;
	//	color: rgb(216,38,121);
		display:flex;
		flex-direction:column;
		width:100%;
		margin-right :0px !important;
		margin-left:0px !important;

	}

	h1{
		text-align:center;
	}

	label{
    	display: block;
    	width: 120px;
    	float: left;
    	padding-top:5px;
	}
	
	.message label{
		margin-top:60px;
	}
	input, textarea{
		width:200px;
		padding:5px;
		border-radius:$border-radius;
	}

	button{
		margin-left:150px;
	}


	table{
		display:inline-block;
		width:80%;
	}

	.bloc1{
		background-color:white;
		margin-left:0px;
		margin-right:0px;
		text-align:left;
		align-self:flex-start;
	}

	.bloc2{
		background-color: rgb(216,38,121);
		text-align: right;
		align-self:flex-end;

	}

	.texte-gauche{
		float:left;
		overflow:none;
	}

	.image-droite{
		float:right;
		overflow:none;
	}

	.parallax-container {
      height: 100px;
      align-self:stretch;
    }
}