/*//////////////////////////////////////////////
//////////////// _template.scss ////////////////
//////////////////////////////////////////////*/

#template {
	text-align: center;
	> * {
		width: 80%;
	}

	.article {
		border: 20px solid saddlebrown;
		background-color: deeppink;
		border-radius: 15%;
		display: table;
		> .elements {
			display: table-row;
			> * {
				display: table-column;
			}
		}
	}
	.article-text {
		background-color: hotpink;
		color: saddlebrown;
		height: 100%;
	}
	.article-image {
		background-color: #fff;
	}
















}